driver:
  kind: ebpf

falco:
  grpc:
    enabled: true
  grpcOutput:
    enabled: true
  jsonOutput: true
  jsonIncludeOutputProperty: true

falcosidekick:
  enabled: true
  config:
    azure:
      eventHub:
        name: falco-alerts
        namespace: evhns-k8project
  extraEnv:
    - name: EVENTHUB_CONNECTION_STRING
      valueFrom:
        secretKeyRef:
          name: falco-sidekick-secrets
          key: azure-eventhub-connection-string

customRules:
  custom-rules.yaml: |-
    - rule: Shell Activity in Container
      desc: Detect shell activity within a container
      condition: spawned_process and container and proc.name in (bash, sh, zsh)
      output: "Shell spawned in container (user=%user.name command=%proc.cmdline container=%container.name pod=%k8s.pod.name namespace=%k8s.ns.name)"
      priority: WARNING
      tags: [shell, container]
